* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 17px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box;
}

body {
  /* min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  background-color: #efefef; */
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  font-size: 1rem;
  font-weight: 1.5;
  line-height: 1.5;
  color: #292b2c;
  background-color: #fff;
}

#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 100%;
  max-width: 1500px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #333;
  box-shadow: 0px 0px 15px gray;
}

.About {
  width: 100%;
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #fff;
}

.Home {
  width: 100%;
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #fff;
}

.Navbar {
  width: 100%;
  background-color: darkred;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.Navbar ul {
  color: #fff;
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.Navbar li {
  padding: 1rem;
}

.Navbar li:hover,
.Navbar li:focus {
  padding: 1rem;
}

.Navbar li a {
  color: #fff;
  text-decoration: none;
}

.Navbar li:hover,
.Navbar li:focus,
.Navbar li:hover a,
.Navbar li:focus a {
  background-color: #eee;
  color: #333;
}

.Navbar li:hover a,
.Navbar li:focus a {
  cursor: pointer;
}

.Header,
.Footer {
  width: 100%;
  background-color: midnightblue;
  color: silver;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header h1 {
  font-size: 1.5rem;
}

.Header svg {
  font-size: 2rem;
}

.Header ul {
  color: #fff;
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.Header li {
  padding: 1rem;
}

.Header li:hover,
.Header li:focus {
  padding: 1rem;
}

.Header li a {
  color: #fff;
  text-decoration: none;
}

.Footer {
  padding: 0.75rem;
  display: grid;
  place-content: center;
}

.Login button {
  margin-top: 1rem;
  height: 48px;
  min-width: 48px;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.Login label {
  margin-top: 1rem;
}

.SignUp button {
  margin-top: 1rem;
  height: 48px;
  min-width: 48px;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.SignUp label {
  margin-top: 1rem;
}

.UserFeed {
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.Comment {
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.api {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 50px;
  padding: 1.5rem;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: midnightblue;
  color: silver;
  font-size: smaller;
}

.Profile {
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  width: 100%;
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #fff;
}

.Profile label {
  margin: 15px;

  color: #353c4e;
  text-transform: uppercase;
  justify-content: space-evenly;
  display: flex;
}

.ProfileDetails,
.Profile h2 {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
}

.Profile button {
  width: 45px;
  height: 45px;
  background: linear-gradient(to right, red, midnightblue);
  margin: 10px;
  border-radius: 5px;
  text-align: center;
  color: white;
  line-height: 45px;
  display: flex;
  justify-content: center;
}
